Repository FederatedAI/eggroll, pull requests merged in 2020-09, with the labels that each got.

#442 update deploy files in execution directory.
  jvm/core/main/scala/com/webank/eggroll/core/resourcemanager/ClusterManagerBootstrap.scala
  jvm/core/main/scala/com/webank/eggroll/core/transfer/GrpcUtils.scala
  python/eggroll/core/grpc/factory.py
  python/eggroll/core/pair_store/rocksdb.py
  python/eggroll/roll_pair/egg_pair.py
  python/eggroll/roll_pair/test/test_roll_pair.py
Labels: module=core, reason=bug, version=v2.x

#443 Feature 2.2 rs 2 lp
  jvm/core/main/scala/com/webank/eggroll/core/constant/ConfKeys.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteBootstrap.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteServicer.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Polling.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Push.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/UnaryCall.scala
  python/eggroll/roll_site/test/test_roll_site.py
Labels: lang=scala, module=rollsite, reason=enhancement, reason=refactoring, version=v2.x

#447 fix bug of rocksdb memory leak and mapPartitions
  python/eggroll/core/pair_store/rocksdb.py
  python/eggroll/core/transfer/transfer_service.py
  python/eggroll/roll_pair/egg_pair.py
  python/eggroll/roll_pair/roll_pair.py
Labels: lang=python, module=rollpair, reason=bug, version=v2.x

#453 Feature 2.2 rs 2
  bin/eggroll_boot.sh
  jvm/core/main/scala/com/webank/eggroll/core/constant/ConfKeys.scala
  jvm/core/main/scala/com/webank/eggroll/core/meta/TransferModel.scala
  jvm/pom.xml
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteServicer.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Polling.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Push.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/TransferExceptionUtils.scala
  python/eggroll/core/conf_keys.py
  python/eggroll/core/pair_store/lmdb.py
  python/eggroll/core/proto/basic_meta_pb2.py
  python/eggroll/core/proto/command_pb2.py
  python/eggroll/core/proto/meta_pb2.py
  python/eggroll/core/proto/meta_pb2_grpc.py
  python/eggroll/core/proto/proxy_pb2.py
  python/eggroll/core/proto/transfer_pb2.py
  python/eggroll/core/transfer/transfer_service.py
  python/eggroll/roll_pair/roll_pair.py
  python/eggroll/roll_pair/task/storage.py
  python/eggroll/roll_pair/test/test_roll_pair.py
  python/eggroll/roll_site/roll_site.py
  python/eggroll/roll_site/test/test_roll_site.py
  requirements.txt
Labels: lang=python, lang=scala, module=configuration, module=dependencies, module=rollsite, reason=bug, reason=enhancement, reason=refactoring, version=v2.x

#448 fix performance problem and grpc retry
  python/eggroll/core/conf_keys.py
  python/eggroll/core/grpc/factory.py
  python/eggroll/core/pair_store/rocksdb.py
  python/eggroll/roll_pair/egg_pair.py
  python/eggroll/roll_pair/roll_pair.py
  python/eggroll/roll_pair/transfer_pair.py
Labels: lang=python, reason=bug, version=v2.x

#454 Feature 2.2 rs 2
  bin/eggroll.sh
  bin/eggroll_boot.sh
Labels: reason=enhancement, version=v2.x

#455 1. Renames conf.
  python/eggroll/core/conf_keys.py
Labels: module=configuration, reason=bug, version=v2.x

#456 fix subtract_by_key wrong result when subtract two same count diff partition
  python/eggroll/roll_pair/roll_pair.py
Labels: module=rollpair, reason=bug, version=v2.x

#459 Feature 2.2 rs 2
  jvm/core/main/scala/com/webank/eggroll/core/constant/ConfKeys.scala
  jvm/roll_site/main/java/com/webank/eggroll/rollsite/grpc/observer/ClientUnaryCallResponseStreamObserver.java
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteBootstrap.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteServicer.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Polling.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Push.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Router.scala
  python/eggroll/core/conf_keys.py
  python/eggroll/core/grpc/factory.py
  python/eggroll/core/transfer/transfer_service.py
  python/eggroll/roll_pair/test/test_roll_pair.py
  python/eggroll/roll_site/roll_site.py
  python/eggroll/roll_site/test/test_roll_site.py
Labels: module=core, module=rollpair, module=rollsite, reason=bug, reason=enhancement, reason=performance, version=v2.x

#465 Feature 2.2 rs 2
  jvm/core/main/scala/com/webank/eggroll/core/constant/ConfKeys.scala
  jvm/core/main/scala/com/webank/eggroll/core/transfer/GrpcUtils.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/EggSiteServicer.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Polling.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/Push.scala
  jvm/roll_site/main/scala/com/webank/eggroll/rollsite/TransferExceptionUtils.scala
  proto/core/proxy.proto
  python/eggroll/core/conf_keys.py
  python/eggroll/core/datastructure/broker.py
  python/eggroll/core/transfer/transfer_service.py
  python/eggroll/roll_pair/task/storage.py
  python/eggroll/roll_pair/transfer_pair.py
  python/eggroll/roll_site/roll_site.py
  requirements.txt
Labels: module=core, module=rollsite, reason=bug, reason=enhancement, version=v2.x
